<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <!--<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="/css/normalize.css">-->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class = "header">
        <a href="https://www.mercadolibre.com.ar">
            <img class = "logo" src ="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"/>
        </a>
        <nav class = "barra-búsqueda">
            <h3 class = "h3">Lugar para poner la barra de búsqueda</h3>
        </nav>
    </header>
    <main class = "main">
        <section class = "compra-cuotas">
            <h3>Compra en cuotas y sin tarjeta de crédito</h3>
            <nav>
                <ul>
                    <li><a href="Link de Ofertas">Ofertas</a></li>
                    <li><a href="Link de tiendas oficiales">Tiendas Oficiales</a></li>
                    <li><a href="Link de vender">Vender</a></li>
                    <li><a href="Link de Ayuda">Ayuda</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="Link de cada crea tu cuenta">Crea tu cuenta</a></li>
                    <li><a href="Link de cada ingresa">Ingresa</a></li>
                    <li><a href="Link de cada mis compras">Mis compras</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <ul>
                <li><h2>Sección: Basado en tu última visita</h2></li>
                <article>
                    <img src = "/images/img-cafetera-moulinex.jpg" alt = "imagen de la Cafetera"/>
                    <p>$6.770 </p>
                    <p>40% off</p>
                    <h3>Cafetera Moulinex</h3>
                </article>    
                <article>        
                    <img src = "/images/img-macbook-pro-2019.jpg" alt = "imagen de MacBook"/>
                    <p>$230.000 </p>
                    <p>20% off</p>
                    <h3>MacBook Pro 2019</h3>
                </article>
                <article>
                    <img src = "/images/img-samsung-galaxy-s10.jpg" alt = "imagen del Samsung Galaxy"/>
                    <p>$70.500 </p>
                    <p>10% off</p>
                    <h3>Samsung Galaxy S10</h3>
                </article>
                <article>
                    <img src = "/images/img-tv-samsung-smart.jpg" alt = "imagen del SmartTv"/>
                    <p>$23.200 </p>
                    <p>5% off</p>
                    <h3>SmartTv</h3>
                </article>

                <li><h2>Sección de Ofertas</h2></li>
                <article>
                    <img src = "/images/img-cafetera-moulinex.jpg" alt = "imagen de la Cafetera"/>
                    <p>$6.770 </p>
                    <p>40% off</p>
                    <h3>Cafetera Moulinex</h3>
                </article>    
                <article>        
                    <img src = "/images/img-macbook-pro-2019.jpg" alt = "imagen de MacBook"/>
                    <p>$230.000 </p>
                    <p>20% off</p>
                    <h3>MacBook Pro 2019</h3>
                </article>
                <article>
                    <img src = "/images/img-samsung-galaxy-s10.jpg" alt = "imagen del Samsung Galaxy"/>
                    <p>$70.500 </p>
                    <p>10% off</p>
                    <h3>Samsung Galaxy S10</h3>
                </article>
                <article>
                    <img src = "/images/img-tv-samsung-smart.jpg" alt = "imagen del SmartTv"/>
                    <p>$23.200 </p>
                    <p>5% off</p>
                    <h3>SmartTv</h3>
                </article>
            </ul>
        </section>
    </main>
    <footer>
        <section>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>

            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </section>
    </footer>
</body>
</html>