<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre"/>
        <nav>
            <ul>
                <li style = "display: inline;"><a href="Links a donde queremos ir">nombre a mostrar</a></li>
                <li style = "display: inline;"><a href="Links a donde queremos ir">nombre a mostrar</a></li>
                <li style = "display: inline;"><a href="Links a donde queremos ir">nombre a mostrar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Bienvenidos a la página de Mercado Liebre</h1>
        <article>
            <img src="ruta relativa al archivo" alt="nombre de la imagen">
        </article>
        <section>
            <h3>Productos</h3>
            <ol>
                <li><a href="Link de cada producto a mostrar">Productos a mostrar</a></li>
                <li><a href="Link de cada producto a mostrar">Productos a mostrar</a></li>
                <li><a href="Link de cada producto a mostrar">Productos a mostrar</a></li>
                <li><a href="Link de cada producto a mostrar">Productos a mostrar</a></li>
                <li><a href="Link de cada producto a mostrar">Productos a mostrar</a></li>
                <li><a href="Link de cada producto a mostrar">Productos a mostrar</a></li>
                <li><a href="Link de cada producto a mostrar">Productos a mostrar</a></li>
            </ol>
        </section>
    </main>
    <footer>
        <p>Copyright / Mercado Liebre</p>
    </footer>
</body>
</html>