<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <!--<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/formularios.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- HEADER -->
    <header class = "top-header">
        <!-- TOP HEADER -->
        <section class="top-header">
            <!-- Logo -->
            <section class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="logo">
            </section>

            <!-- Barra de Búsqueda -->    
            <section class="barra-busqueda">
                <input type="search" value="Elige tus productos"><i class="fas fa-search"></i>
            </section>

            <!-- Título Barra Navegación -->            
            <section class="nav-frase">
                <i class="fas fa-hand-holding-usd"></i>
                <h3>Compra en cuotas y sin tarjeta de credito</h3>
            </section>
        </section>

        <!-- BOTTOM HEADER -->
        <!-- Barra de Navegación -->        
        <nav  class="nav-bar">
            <ul class="nav-list-1">
                <li>
                    <a href="/">Ofertas</a>
                </li>
                <li>
                    <a href="/">Tiendas virtuales</a>
                </li>
                <li>
                    <a href="/">Vender</a>
                </li>
                <li>
                    <a href="/">Ayuda</a>
                </li>
            </ul>
            <ul class="nav-list-2">
                <li>
                    <a href="/registro"> Crea tu cuenta
                        <i class="fas fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a href="/login"> Ingresa
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <li><a href="/"> Mis compras
                    <i class="fas fa-shopping-basket"></i>
                </a>
            </li>
            </ul>
        </nav>

        <!-- Menú Hamburguesa -->
        <section class="burger-menu">
            <i class="fas fa-bars"></i>
        </section>

        <!-- Banner -->
        <section class="banner">
            <img src="/img/img-home-banner.jpg" alt="banner">
        </section>

    </header>

    <main class="main">
        <section>
            <form action="/" class="form-container">
                <div>
                    <div>
                        <label for="user-full-name">
                            <input type="text" class="input-text" placeholder="Nombre y apellido"
                                name="user-full-name" id="user-full-name" required />
                        </label>
                    </div>
                    <div>
                        <label for="user">
                            <input type="text" class="input-text" placeholder="Nombre de usuario" name="user"
                                id="user" required />
                        </label>
                    </div>
                    <div>
                        <label for="email">
                            <input type="email" class="input-email" placeholder="E-mail" name="email" id="email"
                                required />
                        </label>
                    </div>
                </div>
                <p><br></p>
                <p class="font-sixteen bold">Fecha de nacimiento</p>
                <div>
                    <div>
                        <label for="birthday-date">
                            <input type="date" name="bd-date" class="input-date" id="birthday-date" required />
                        </label>
                    </div>
                    <div>
                        <label for="domicilio">
                            <input type="text" class="input-text" placeholder="Domicilio" name="domicilio"
                                id="domicilio" />
                        </label>
                    </div>
                </div>

                <p><br></p>
                <p class="font-sixteen bold">Perfil del usuario</p>
                <div class="user-profile-container">
                    <div>
                        <label for="perfil-del-usuario">
                            <input type="radio" name="perfil-del-usuario" id="perfil-del-usuario" />
                            Comprador
                        </label>
                    </div>
                    <div>
                        <label for="perfil-del-usuario">
                            <input type="radio" name="perfil-del-usuario" id="perfil-del-usuario" />
                            Vendedor
                        </label>
                    </div>
                </div>
                <p><br></p>
                <p class="font-sixteen bold">Intereses</p>
                <div class="intereses-container">
                    <div>
                        <label for="intereses">
                            <input type="checkbox" name="intereses" id="intereses" /> Productos Electrónicos
                        </label>
                    </div>
                    <div>
                        <label for="">
                            <input type="checkbox" name="intereses" id="intereses" /> Juguetes
                        </label>
                    </div>
                    <div>
                        <label for="">
                            <input type="checkbox" name="intereses" id="intereses" /> Hogar
                        </label>
                    </div>
                    <div>
                        <label for="">
                            <input type="checkbox" name="intereses" id="intereses" />
                            Ferretería
                        </label>
                    </div>
                    <div>
                        <label for="">
                            <input type="checkbox" name="intereses" id="intereses" /> Ropa y Calzado
                        </label>
                    </div>
                </div>
                <p><br></p>
                <div>
                    <label for="">
                        <p class="font-sixteen bold">Por favor carga un archivo con tu imagen de perfil.</p>
                        <input type="file" accept="mimetype" name="user-photo" />
                    </label>
                </div>
                <p><br></p>
                <div>
                    <div>
                        <label for="">
                            <p class="font-sixteen bold">Ingresa tu contraseña.</p>
                            <input type="password" class="input-password" name="password" placeholder="Password"
                                required />
                        </label>
                    </div>
                    <div>
                        <label for="">
                            <p class="font-sixteen bold">Por favor confirma tu contraseña.</p>
                            <input type="password" class="input-password" name="password"
                                placeholder="Confirm password" required />
                        </label>
                    </div>
                </div>
                <p><br></p>
                <div>
                    <button type="submit">ENVIAR</button>
                </div>
                <div>
                    <button type="reset">LIMPIAR FORMULARIO</button>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <section class="main-footer">
            <section>
                <i class="fas fa-credit-card"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
            </section>

            <section>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tienes envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>

            <section>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta lo que compraste? ¡Devuélvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>

        </section>
        <section class="copyright">
            <b><p>Copyright © 1999-2024 MercadoLiebre S.R.L.</p></b>
        </section>

    </footer>
</body>
</html>